h1 {
    color: black;
    font-family: Verdana;
}
p {
    font-family: Verdana;
    color: black;
}
ul {
    line-height: 40px;
}
.list {
    color: black;
}
body {
    font-family: italic;
}
img {
    float: left;
}
.column {
    background-color: gray;
    width: 450px;
    float: center right;
}
.important {
    background-color: gray;
    width: 450px;
    float: center left;
}