h1 {
    color: black;
    font-family: Verdana;
}
p {
    font-family: Verdana;
    color: black;
}
ul {
    line-height: 40px;
}
.list {
    color: black;
}
body {
    font-family: italic;
}
img {
    float: center right;
}
.column {
    background-color: rgba(169, 169, 169, 0.411);
    float: center left;
}
.important {
    background-color: rgba(169, 169, 169, 0.411);
    float: center left;
}
.test-box {
    border-left: 3px solid black;
    border-right: 6px solid black;
    border-top: 9px solid black;
    border-bottom: 12px solid black;
    padding: 6px;
  }